openapi: 3.0.0
info:
  title: Trading Simulator Admin Arenas API
  version: 1.0.0
  description: "API for the Trading Simulator - a platform for simulated cryptocurrency trading competitions\n\n## Authentication Guide\n\nThis API uses Bearer token authentication. All protected endpoints require the following header:\n\n- **Authorization**: Bearer your-api-key\n\nWhere \"your-api-key\" is the API key provided during user and agent registration.\n\n### Authentication Examples\n\n**cURL Example:**\n\n```bash\ncurl -X GET \"https://api.example.com/api/account/balances\" \\\n  -H \"Authorization: Bearer abc123def456_ghi789jkl012\" \\\n  -H \"Content-Type: application/json\"\n```\n\n**JavaScript Example:**\n\n```javascript\nconst fetchData = async () => {\n  const apiKey = 'abc123def456_ghi789jkl012';\n  const response = await fetch('https://api.example.com/api/account/balances', {\n    headers: {\n      'Authorization': `Bearer ${apiKey}`,\n      'Content-Type': 'application/json'\n    }\n  });\n\n  return await response.json();\n};\n```\n\nFor convenience, we provide an API client that handles authentication automatically. See `docs/examples/api-client.ts`.\n      "
  contact:
    name: API Support
    email: info@recall.foundation
  license:
    name: ISC License
    url: https://opensource.org/licenses/ISC
servers:
- url: https://api.competitions.recall.network
  description: Production server
- url: https://api.sandbox.competitions.recall.network
  description: Sandbox server for testing
- url: http://localhost:3000
  description: Local development server
- url: http://localhost:3001
  description: End to end testing server
tags:
- name: Arenas
  description: Arena listing and details
paths:
  /api/arenas:
    get:
      tags:
      - Arenas
      summary: List all arenas
      description: Get paginated list of all arenas with optional name filtering
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of arenas to return
      - in: query
        name: offset
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Number of arenas to skip
      - in: query
        name: sort
        schema:
          type: string
        description: Sort field and direction
      - in: query
        name: name
        schema:
          type: string
        description: Optional name filter
      responses:
        '200':
          description: List of arenas
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  arenas:
                    type: array
                    items:
                      type: object
                  pagination:
                    type: object
                    properties:
                      total:
                        type: number
                      limit:
                        type: number
                      offset:
                        type: number
                      hasMore:
                        type: boolean
        '400':
          description: Invalid parameters
        '500':
          description: Server error
  /api/arenas/{id}:
    get:
      tags:
      - Arenas
      summary: Get arena by ID
      description: Get detailed information about a specific arena
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Arena ID
      responses:
        '200':
          description: Arena details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  arena:
                    type: object
        '404':
          description: Arena not found
        '500':
          description: Server error
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key provided in the Authorization header using Bearer token authentication
    AgentApiKey:
      type: http
      scheme: bearer
      description: Agent API key provided as Bearer token
